<?xml version="1.0" ?>
<config>
    <markets-global>
        <update-ticker>1</update-ticker>
        <update-last-trade>1</update-last-trade>
        <update-depth>1</update-depth>
        <!-- refresh time for fiat currencies -->
        <fiat-refresh-time>20</fiat-refresh-time>
    </markets-global>
    <custom-index>
        <index>ICEI10</index>
    </custom-index>
    <coins>
        <coin>
            <short-name>BTC</short-name>
            <full-name>bitcoin</full-name>
        </coin>
        <coin>
            <short-name>BCH</short-name>
            <full-name>bitcoin-cash</full-name>
        </coin>
        <coin>
            <short-name>ETH</short-name>
            <full-name>ethereum</full-name>
        </coin>
        <coin>
            <short-name>ETC</short-name>
            <full-name>ethereum-classic</full-name>
        </coin>
        <coin>
            <short-name>DASH</short-name>
            <full-name>dash</full-name>
        </coin>
        <coin>
            <short-name>LTC</short-name>
            <full-name>litecoin</full-name>
        </coin>
        <coin>
            <short-name>XLM</short-name>
            <full-name>stellar</full-name>
        </coin>
        <coin>
            <short-name>XRP</short-name>
            <full-name>ripple</full-name>
        </coin>
        <coin>
            <short-name>XMR</short-name>
            <full-name>monero</full-name>
        </coin>
        <coin>
            <short-name>XEM</short-name>
            <full-name>nem</full-name>
        </coin>
        <coin>
            <short-name>STRAT</short-name>
            <full-name>stratis</full-name>
        </coin>
        <coin>
            <short-name>BCN</short-name>
            <full-name>bytecoin-bcn</full-name>
        </coin>
        <coin>
            <short-name>WAVES</short-name>
            <full-name>waves</full-name>
        </coin>
        <coin>
            <short-name>BTS</short-name>
            <full-name>bitshares</full-name>
        </coin>
        <coin>
            <short-name>IOT</short-name>
            <full-name>iota</full-name>
        </coin>
        <coin>
            <short-name>NEO</short-name>
            <full-name>neo</full-name>
        </coin>
        <coin>
            <short-name>BCC</short-name>
            <full-name>bitconnect</full-name>
        </coin>
        <coin>
            <short-name>QTUM</short-name>
            <full-name>qtum</full-name>
        </coin>
        <coin>
            <short-name>ADA</short-name>
            <full-name>cardano</full-name>
        </coin>
        <coin>
            <short-name>LSK</short-name>
            <full-name>lisk</full-name>
        </coin>
        <coin>
            <short-name>ZEC</short-name>
            <full-name>zcash</full-name>
        </coin>
        <coin>
            <short-name>HSR</short-name>
            <full-name>hshare</full-name>
        </coin>
        <coin>
            <short-name>ARK</short-name>
            <full-name>ark</full-name>
        </coin>
        <coin>
            <short-name>STEEM</short-name>
            <full-name>steem</full-name>
        </coin>
        <coin>
            <short-name>PIVX</short-name>
            <full-name>pivx</full-name>
        </coin>
        <coin>
            <short-name>KMD</short-name>
            <full-name>komodo</full-name>
        </coin>
        <coin>
            <short-name>FRST</short-name>
            <full-name>firstcoin</full-name>
        </coin>
        <coin>
            <short-name>DCR</short-name>
            <full-name>decred</full-name>
        </coin>
        <coin>
            <short-name>FCT</short-name>
            <full-name>factom</full-name>
        </coin>
        <coin>
            <short-name>BTG</short-name>
            <full-name>bitcoin-gold</full-name>
        </coin>
    </coins>
<fiats>
        <fiat>
            <short>AUD</short>
            <name>Australian dollar</name>
        </fiat>
        <fiat>
            <short>BRL</short>
            <name>Brazilian real</name>
        </fiat>
        <fiat>
            <short>CAD</short>
            <name>Canadian dollar</name>
        </fiat>
        <fiat>
            <short>CHF</short>
            <name>Swiss franc</name>
        </fiat>
        <fiat>
            <short>CNY</short>
            <name>Chinese yuan</name>
        </fiat>
        <fiat>
            <short>CZK</short>
            <name>Czech crown</name>
        </fiat>
        <fiat>
            <short>DKK</short>
            <name>Danish crown</name>
        </fiat>
        <fiat>
            <short>EUR</short>
            <name>Euro</name>
        </fiat>
        <fiat>
            <short>GBP</short>
            <name>UK pound sterling</name>
        </fiat>
        <fiat>
            <short>HKD</short>
            <name>Hong Kong dollar</name>
        </fiat>
        <fiat>
            <short>HUF</short>
            <name>Hungarian forint</name>
        </fiat>
        <fiat>
            <short>IDR</short>
            <name>Indonesian rupiah</name>
        </fiat>
        <fiat>
            <short>ILS</short>
            <name>Israeli new shekel</name>
        </fiat>
        <fiat>
            <short>INR</short>
            <name>Indian rupee</name>
        </fiat>
        <fiat>
            <short>JPY</short>
            <name>Japanese yen</name>
        </fiat>
        <fiat>
            <short>KRW</short>
            <name>South Korean won</name>
        </fiat>
        <fiat>
            <short>MXN</short>
            <name>Mexican peso</name>
        </fiat>
        <fiat>
            <short>MYR</short>
            <name>Malaysian krone</name>
        </fiat>
        <fiat>
            <short>NOK</short>
            <name>Norwegian krone</name>
        </fiat>
        <fiat>
            <short>NZD</short>
            <name>New Zeland dollar</name>
        </fiat>
        <fiat>
            <short>PHP</short>
            <name>Philippines peso</name>
        </fiat>
        <fiat>
            <short>PLN</short>
            <name>Poland Zloty</name>
        </fiat>
        <fiat>
            <short>RUB</short>
            <name>Russia Ruble</name>
        </fiat>
        <fiat>
            <short>SEK</short>
            <name>Sweden Krona</name>
        </fiat>
        <fiat>
            <short>SGD</short>
            <name>Singapore Dollar</name>
        </fiat>
        <fiat>
            <short>THB</short>
            <name>Thailand Baht</name>
        </fiat>
        <fiat>
            <short>TRY</short>
            <name>Turkish lira</name>
        </fiat>
        <fiat>
            <short>ZAR</short>
            <name>South Africa Rand</name>
        </fiat>
        <fiat>
            <short>USD</short>
            <name>United States Dollar</name>
        </fiat>
    </fiats>
    <entities>
        <entity>
            <status>active</status>
            <name>bitfinex</name>
            <api-url>https://api.bitfinex.com/v1</api-url>
            <error-message>error</error-message>
            <delay>3000</delay>
            <currency_mask_pairs>
                <mask-pair>DASH:dsh</mask-pair>
                <mask-pair>QTUM:QTM</mask-pair>
            </currency_mask_pairs>
            <exchange_pairs>
                <pair>
                    <value>BTC:USD</value>
                    <conversion>none</conversion>
                </pair>
                <pair>
                    <value>ETH:USD</value>
                    <conversion>none</conversion>
                </pair>
                <pair>
                    <value>ETH:BTC</value>
                    <conversion>crypto</conversion>
                </pair>
            </exchange_pairs>
        </entity>
    </entities>
</config>
