#COINS
coins.config=./resources/config.xml

#LOGGING

# 0 no general logging
# 1 only services start\stop info
# 2 + markets zeroes statistics(zero values amount every 15 secs)
logging.general=2;

# 0 no markets-statistics logging
# 1 only lastTradeData
# 2 + ask\bid\volume
logging.markets=2;

# 0 no redis logging
# 1 only redis Errors
# 2 + Warnings
# 3 + All write data
logging.redis=3;

# 0 no request logging
# 1 + TimeLimitExceed errors
# 2 + BrokenResponse errors
# 3 + OK requests
logging.requests=3;

# 0 no Ping-Pong service logging
# 1 log errors only
# 2 + requests\responses
logging.pingpong=2;

# 0 no index logging
# 1 only index values
# 2 + index arrays
logging.index=2;

# 0 no curl verbose logging
# 1 all curl logs
logging.curl=1;

# 0 no volume logging
# 1 volume values
# 2 + warnings
# 3 + volume arrays
logging.volume=2;

# 0 no candles logging
# 1 enable candles logging
logging.candles=1;


#NETWORK

# Max count of threads to run per pool
network.threadPoolSize=400;

# Max number of simultaneous connections(total)
network.maxConnections=400;

# Max delay value(drop request if no response after timeout);
network.timeout=7;

# Enable SSL verification (decrease performance)
network.verifySSL=0;

# Max simultaneous connections to a single host
network.maxHostConnections=9;

# Port to place PingPong service
network.pingPort=42912;

# Enable or disable Multiplexing(increase memory consumption and decrease performance if disabled)
network.enableMultiplexing=1;

# Enable multi-interface mode(every request will be on rnd interface from interfaces array)
network.enabledMultiInterface=0;

# Interfaces array(will work only if enabledMultiInterface=1)(template=[interface1, interface2, interface3, ...])
network.interfaces=[wlo0, wlo1];


#REDIS
#Writing keys enabled
redis.enabled=0;
candles_redis.enabled=1;
cache_redis.enabled=0;

# Redis cluster mode enabled
redis.cluster=1;
candles_redis.cluster=1;
cache_redis.cluster=1;

# Redis host IP
redis.host=192.168.124.50;
candles_redis.host=192.168.122.51;
cache_redis.host=192.168.122.51;

# Redis port
redis.port=6379;
candles_redis.port=6379;
cache_redis.port=6379;

# Redis auth enabled or disabled
redis.auth=0;
candles_redis.auth=0;
cache_redis.auth=0;

# Redis password in base64(will work only if redis.auth=1
redis.password=;
candles_redis.password=;
cache_redis.password=;

#POSTGRESQL
postgres.enabled=0;
postgres.dbname=stockdata;
postgres.username=stockdata;
postgres.password=QdhCq6nED6vXdPS2;
postgres.host=192.168.123.52;
postgres.port=5432;
postgres.maxConnections=30;